:root {
	--primary: #b2181f;
	--secundary: #86151a;
	--text: rgb(68, 68, 68);
	--cinza: #ccc;
	--cinza-claro: #f5f3f2;
	--cinza-escuro: #979797;
	--branco: white;
	--amarelo: yellow;
	--preto: #000;
}
.dark-mode:root {
	--primary: #ccc;
	--secundary: rgb(232, 232, 232);
	--text: #cecece;
	--preto: #f5f3f2ea;
	--branco: #222;
	--amarelo: #121212;
	--cinza-claro: #585858;
	--cinza: #cecece;
	--cinza-escuro: #d8d8d8;
}
body {
	-webkit-font-smoothing: antialiased; /* Para navegadores WebKit (Chrome, Safari, etc.) */
	-moz-osx-font-smoothing: grayscale; /* Para Firefox no macOS */
	font-smooth: always;
	font-family: 'Cabin', sans-serif;
	background-color: var(--branco);
}
label {
	font-family: 'Cabin', sans-serif;
	color: var(--primary);
}
.inputForm,
.textareaForm {
	font-family: 'Cabin', sans-serif;
	border: 1px solid var(--cinza-escuro);
	border-radius: 2px;
	padding: 8px;
	margin-top: 8px;
	width: 98%;
	font-size: 16px;
	background-color: var(--amarelo);
	color: var(--preto);
}
.textareaForm {
	width: 98%;
	height: 250px;
}
.buttonForm,
.fileForm {
	font-family: 'Cabin', sans-serif;
	padding: 8px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--primary);
	border: 1px solid var(--cinza-escuro);
	color: var(--branco);
	margin-top: 8px;
}
.fileForm {
	background-color: var(--amarelo);
	color: var(--preto);
}
.main {
	max-width: 600px;
	margin: auto;
	justify-content: center;
	align-items: center;
}
.data_news {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	color: var(--cinza-escuro);
	margin-bottom: 4px;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	font-family: 'Cabin', sans-serif;
	background-color: var(--text);
	border-radius: 4px;
	margin-bottom: 20px;
	font-weight: bold;
}
.box .box-page .link {
	color: var(--branco);
}
.imagem_anexada {
	border-radius: 4px;
	margin-top: 20px;
}
input::placeholder {
	color: var(--cinza-escuro);
}
.emalta {
	font-family: 'Roboto Condensed Variable', sans-serif;
	font-size: 20px;
	padding-bottom: 4px;
	margin-bottom: 10px;
	color: var(--text);
}
.zero_resultado {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.conteudo {
	display: flex;
	flex-direction: column;
	margin-left: 12px;
	margin-right: 12px;
}
.link {
	text-decoration: none;
	color: var(--text);
}
.link:hover {
	text-decoration: underline;
}
.link_current {
	color: var(--branco);
}
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}
.page {
	font-family: 'Cabin', sans-serif;
	justify-content: center;
	align-items: center;
	min-width: 20px;
	background-color: var(--cinza-claro);
	padding: 8px;
	margin: 4px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 700;
}
.page_current {
	background-color: var(--text);
}
.separator {
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid var(--cinza);
}
@media (min-width: 480px) {
	.conteudo-flow {
		max-width: 1310px;
	}
	.central {
		display: flex;
		max-width: 600px;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
	.main {
		max-width: none;
		padding: 10px;
	}
	.container {
		display: flex;
		max-width: 600px;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
	.container .conteudo .text {
		font-size: 18px;
	}
	.container .conteudo .card {
		gap: 20px;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.container .conteudo .card .img {
		width: 180px;
	}
	.container .conteudo .card .img .thumb {
		width: 180px;
	}
	.emalta {
		font-size: 28px;
		margin-top: -10px;
		margin-bottom: 20px;
	}
}
