:root {
	--primary: rgb(179, 0, 196);
	--secundary: rgb(68, 68, 68);
	--cinza: #ccc;
	--cinza-claro: #f5f3f2;
}
body {
	-webkit-font-smoothing: antialiased; /* Para navegadores WebKit (Chrome, Safari, etc.) */
	-moz-osx-font-smoothing: grayscale; /* Para Firefox no macOS */
	font-smooth: always;
}
